.root {
    width: 6.5rem;
    height: 0.6rem;
    border-radius: 1rem;
    background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
}

.colorAlt {
    background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.divider {
    margin: 20rem 0 0;
}
